<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<resultMap id="memberResultSet" type="Member">
		<id property="mNo" column="M_NO"/>
		<result property="mId" column="M_ID"/>
		<result property="mPwd" column="M_PWD"/>
		<result property="mName" column="M_NAME"/>
		<result property="mPhone" column="M_PHONE"/>
		<result property="mEmail" column="M_EMAIL"/>
		<result property="mAddress" column="M_ADDRESS"/>
		<result property="mBirth" column="M_BIRTHDAY"/>
		<result property="mInterest" column="M_INTERESTS"/>
		<result property="mDate" column="M_CONN"/>
		<result property="filePath" column="FILE_PATH"/>
	</resultMap>
	
	<resultMap id="filesResultSet" type="Files">
		<id property="fileNo" column="FILE_NO"/>
		<result property="bNo" column="B_ND"/>
		<result property="pNo" column="P_NO"/>
		<result property="mNo" column="M_NO"/>
		<result property="cNo" column="CON_NO"/>
		<result property="gNo" column="G_NO"/>
		<result property="category" column="CATEGORY"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="uploadDate" column="UPLOAD_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
	</resultMap>

	<!-- 로그인 -->
	<select id="selectOne" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBERIMG_VIEW
		WHERE M_ID=#{mId}
		AND M_PWD=#{mPwd}
	</select>
	
	
	<select id="selectOneUserId" parameterType="Member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE M_ID=#{userId}
	</select>
	
	<insert id="memberInsert" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(SEQ_MID.NEXTVAL, #{mId}, #{mPwd}, #{mName}, #{mPhone}, #{mEmail}, #{mAddress}, #{mBirth}, #{mInterest}, SYSDATE, #{gender})
	</insert>
	
	<insert id="mPhotoInsert">
		INSERT INTO FILES
		VALUES(SEQ_FID.NEXTVAL, NULL, NULL, #{mNo}, NULL, NULL, 3, #{originName}, #{changeName}, #{filePath}, SYSDATE, 'Y', 3)
	</insert>
	
	<select id="selectPhoto" resultMap="filesResultSet">
		SELECT *
		FROM FILES
		WHERE M_NO = #{getmNo}
	</select>
	
	<update id="memberUpdate">
		UPDATE MEMBER
		SET M_NAME = #{mName}, M_EMAIL = #{mEmail},
			M_ADDRESS = #{mAddress}, M_PHONE = #{mPhone}, M_INTERESTS = #{mInterest}
		WHERE M_ID = #{mId}
	</update>
	
	<delete id="mPhotoDelete">
		DELETE
		FROM FILES
		WHERE M_NO = ${mNo}
		AND FILE_LEVEL = 3
	</delete>
	
	
	
</mapper>
