<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="puMapper">
	<resultMap id="projectResultSet" type="Project">
		<id property="pNo" column="P_NO"/>
		<result property="creNo" column="CRE_NO"/>
		<result property="pcNo" column="PC_NO"/>
		<result property="pUrl" column="P_URL"/>
		<result property="pTitle" column="P_TITLE"/>
		<result property="pText" column="P_SIMPLE_TEXT"/>
		<result property="pDesc" column="P_DESC"/>
		<result property="pVideo" column="P_VIDEO"/>
		<result property="pHashTag" column="P_HASHTAG"/>
		<result property="pStartDate" column="P_START_DATE"/>
		<result property="pEndDate" column="P_END_DATE"/>
		<result property="pTargetAmount" column="P_TARGET_AMOUNT"/>
		<result property="pSumAmount" column="P_SUM_AMOUNT"/>
		<result property="pAccount" column="P_ACCOUNT"/>
		<result property="pStatus" column="P_STATUS"/>
	</resultMap>
	
	<resultMap id="rewardResultSet" type="com.kh.veniatis.project.user.model.vo.Reward">
		<id property="rNo" column="R_NO"></id>
		<result property="pNo" column="P_NO"/>
		<result property="rSeq" column="R_SEQ"/>
		<result property="rItem" column="R_ITEM"/>
		<result property="rPrice" column="R_PRICE"/>
		<result property="rLimit" column="R_LIMIT"/>
		<result property="rCount" column="R_COUNT"/>
		<result property="rOption" column="R_OPTION"/>
		<result property="rDelivery" column="R_DELIVERY"/>
	</resultMap>
	
	<resultMap id="memberResultSet" type="Member">
		<id property="mNo" column="M_NO"/>
		<result property="mId" column="M_ID"/>
		<result property="mPwd" column="M_PWD"/>
		<result property="mName" column="M_NAME"/>
		<result property="mPhone" column="M_PHONE"/>
		<result property="mEmail" column="M_EMAIL"/>
		<result property="mAddress" column="M_ADDRESS"/>
		<result property="mBirth" column="M_BIRTHDAY"/>
		<result property="mInterest" column="M_INTERESTS"/>
		<result property="mDate" column="M_CONN"/>
	</resultMap>
	
	<resultMap id="newsResultSet" type="com.kh.veniatis.project.user.model.vo.News">
		<id property="pnNo" column="PN_NO"/>
		<result property="pNo" column="P_NO"/>
		<result property="pnTitle" column="PN_TITLE"/>
		<result property="pnContent" column="PN_CONTENT"/>
		<result property="pnEnrollDate" column="PN_ENROLL_DATE"/>
	</resultMap>
	
	<select id="selectList" >
		SELECT * FROM PROJECT;
	</select>
	
	<select id="selectProject" parameterType="_int" resultMap="projectResultSet">
		SELECT * FROM PROJECT
		WHERE P_NO = #{pNo}
	</select>
	
	<select id="selectRewardList" resultMap="rewardResultSet">
		SELECT * FROM REWARD
		WHERE P_NO = #{pNo}
		ORDER BY R_SEQ
	</select>
	
	<select id="selectCreatorNumber" parameterType="_int" resultType="_int">
		SELECT M_NO
		FROM CREATOR
		WHERE CRE_NO = #{creNo}
	</select>
	
	<select id="selectCreatorInfo" parameterType="_int" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE M_NO = #{mNo}
	</select>
	
	<select id="selectNews" parameterType="_int" resultMap="newsResultSet">
		select * 
		from 
		(select a.*, rownum as rnum 
		from P_NOTICE a 
		where P_NO = #{pNo}
		order by a.PN_ENROLL_DATE desc) 
		where rnum = 1 
	</select>
	
	
	
	
	
</mapper>